body{
    display: flex;
    justify-content: center;
    width: 100vh;
    align-items: center;
    height: 100vh;
}

#Exo1{
    margin: 20px;
}
#Exo2{
    margin: 20px;
}

li{
    cursor: pointer;
}